div{
    text-align: center;
    width:100%;
    height: 7%;
color:purple;
    border:solid;
    border-width: 1.2px;
    margin: 0px;
    padding: 0px;
    border-color: black;
    font-size: 3ex;
    
    }