div{
    width:100%;
    align-content: center;
    display: inline-block;
min-width: 100px;



    
        text-align: center;
        height: 7%;
        
        font-size: 2ex;
        
        

}
